@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
}

html {
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    color: #333333;
}

h1 {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}

h2 {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

h3 {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}

h4 {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 25px;
}

a {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

p {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
}

.HeroSelection {
    display: flex;
    position: relative;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 275px;
    z-index: -2;
    background-image: url(./image/bg.png);
    color: #FFFFFF;
    flex-direction: column;
    text-align: center;
}

.HeroSelection::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(198, 108, 73, 0.4);
    z-index: -1;
}

.HeroSelection h1 {
    padding-top: 36px;
}

.HeroSelection h3 {
    padding-top: 50px;
}

.HeroSelection p:first-of-type {
    padding-top: 13px;
    padding-bottom: 41px;
}

.HeroSelection p:last-of-type {
    text-decoration-line: underline;
}

.About {
    padding-top: 25px;
    padding-left: 34px;
    padding-right: 29px;
    padding-bottom: 8px;
}

.About h2 {
    text-align: center;
    padding-bottom: 19px;
}

.About p {
    font-size: 12px;
    line-height: 15px;
    text-align: justify;
}

.Skills {
    background-color: #FFFAF2;
    padding-top: 25px;
    padding-left: 34px;
    padding-right: 32px;
    text-align: center;
}

.Skills img {
    width: 224px;
    padding-top: 25px;
    padding-bottom: 26px;
}

table {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: left;
    padding: 0;
}

.profile {
    padding-bottom: 35px;
}

.groupGraph {
    padding-bottom: 10px;
}

.groupTools {
    padding-bottom: 22px;
}

.graph {
    display: block;
    background: #F5D6AB;
    height: 18px;
    z-index: 0;
}

.graph>div {
    background: #C66C49;
    height: 18px;
    z-index: 1;
}

.Portfolio {
    padding-top: 25px;
    padding-left: 34px;
    padding-right: 32px;
    padding-bottom: 25px;
    text-align: center;
}

.Portfolio p {
    font-style: normal;
    font-size: 12px;
}

#research {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    padding-top: 20px;
    padding-bottom: 15px;
}

.PhotoPortfolio {
    display: flex;
    padding-top: 26px;
    padding-bottom: 24px;
}

.LeftSidePicture {
    text-align: left;
}

.RigthSidePicture {
    text-align: right;
}

.LeftSidePicture img:first-of-type {
    width: 169.76px;
    height: 69.85px;
    margin-bottom: 12px;
}

.LeftSidePicture img:last-child {
    width: 169.28px;
    height: 113.01px;
}

.RigthSidePicture img:first-of-type {
    width: 123.69px;
    height: 113.01px;
    margin-bottom: 12px;
}

.RigthSidePicture img:last-child {
    width: 123.69px;
    height: 69.85px;
}

.GetTouch {
    padding-left: 34px;
    padding-right: 32px;
    text-align: center;
}