@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

html {
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    color: #333333;
    background-color: #FFFFFF;
}

h1 {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}

h2 {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

h3 {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}

h4 {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 25px;
}

a {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

p {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
}

section {
    padding-top: 25px;
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 24px;
}

#menuSmall {
    width: 24px;
    padding-top: 6px;
    position: absolute;
}

.icon-hamburger {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(./image/hamburger.png);
    background-repeat: no-repeat;
}
#HeroSelection > a{
    position: absolute;
    text-align: left;
    padding-top: 8px;
}

#menuLarge {
    display: none;
}

#HeroSelection {
    display: flex;
    position: relative;
    background-position: center;
    background-size: cover;
    padding-top: 36px;
    width: 100%;
    height: 275px;
    z-index: -2;
    background-image: url(./image/bg.png);
    color: #FFFFFF;
    flex-direction: column;
    text-align: center;
}

#HeroSelection::before {
    content: '';
    position: absolute;
    margin-top: -36px;
    margin-left: -34px;
    margin-right: -34px;
    margin-bottom: -24px;
    width: 100%;
    height: 100%;
    background: rgba(198, 108, 73, 0.4);
    z-index: -1;
}

#HeroSelection h3 {
    padding-top: 50px;
}

#HeroSelection p:first-of-type {
    padding-top: 13px;
    padding-bottom: 41px;
}

#HeroSelection p:last-of-type {
    text-decoration-line: underline;
}

section:nth-child(odd) {
    background-color: #FFFAF2;
}

#About h2 {
    text-align: center;
    padding-bottom: 19px;
}

#About p {
    font-size: 12px;
    line-height: 15px;
    text-align: justify;
}

#Skills {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#Skills img {
    width: 224px;
    padding-top: 25px;
    padding-bottom: 26px;
}

.table {
    display: table;
    width: 100%;
    border: none;
    border-collapse: separate;
}

.table-tr {
    display: table-row;
    text-align: left;
}

.table-header .item{
    padding-bottom: 35px;
}

.table-td {
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 9px;
}

.table-td:nth-child(odd) {
    width: 28%;
}

.table p {
    font-size: 12px;
    line-height: 25px;
}

.graph {
    display: block;
    background: #F5D6AB;
    height: 18px;
    z-index: 0;
}

.graph>div {
    background: #C66C49;
    height: 18px;
    z-index: 1;
}

/* table {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: left;
    padding: 0;
}

.profile {
    padding-bottom: 35px;
}

.groupGraph {
    padding-bottom: 10px;
}

.groupTools {
    padding-bottom: 22px;
}
*/

#Portfolio {
    text-align: center;
}

#Portfolio p {
    font-style: normal;
    font-size: 12px;
}

#research {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    padding-top: 20px;
    padding-bottom: 15px;
}

.PhotoPortfolio {
    display: flex;
    padding-top: 26px;
}

.LeftSidePicture {
    text-align: left;
}

.RightSidePicture {
    text-align: right;
}

.LeftSidePicture img:first-of-type {
    width: 169.76px;
    height: 69.85px;
    margin-bottom: 12px;
}

.LeftSidePicture img:last-child {
    width: 169.28px;
    height: 113.01px;
}

.RightSidePicture img:first-of-type {
    width: 123.69px;
    height: 113.01px;
    margin-bottom: 12px;
}

.RightSidePicture img:last-child {
    width: 123.69px;
    height: 69.85px;
}

#GetTouch {
    text-align: center;
}

#GetTouch h2 {
    padding-bottom: 25px;
}

#resources a {
    padding-bottom: 20px;
}

#social-networks a {
    padding-bottom: 20px;
}

#info {
    display: flex;
    flex-wrap: wrap;
}

#resources {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 50%;
}

#social-networks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 50%;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
}

footer>a {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(./image/uppButton.png);
    background-repeat: no-repeat;
}

.contacts:first-child {
    padding-top: 10px;
}

.contacts a {
    display: block;
    padding-bottom: 7px;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    outline: none;
    text-decoration: none;
    color: #333333;
}

@media only screen and (min-width: 992px) {
    h1 {
        font-size: 24px;
        line-height: 29px;
    }
    h2 {
        font-weight: bold;
    }
    h3 {
        font-size: 64px;
        line-height: 78px;
    }
    h4 {
        font-size: 18px;
    }
    p {
        font-size: 18px;
        line-height: 30px;
    }
    #menuSmall {
        display: none;
    }
    section {
        padding-top: 93px;
        padding-left: 166px;
        padding-right: 167px;
        padding-bottom: 115px;
    }
    #HeroSelection {
        height: 768px;
        text-align: left;
    }
    #HeroSelection::before {
        margin-top: -93px;
        margin-left: -165px;
        margin-right: -168px;
        margin-bottom: -145px;
        background: rgba(198, 108, 73, 0.3);
    }
    #HeroSelection h3 {
        padding-top: 145px;
    }
    #HeroSelection p:first-of-type {
        padding-top: 26px;
        padding-bottom: 106px;
    }
    #About h2 {
        text-align: left;
        padding-bottom: 76px;
    }
    #About p {
        font-size: 18px;
        line-height: 30px;
    }
    #Skills {
        text-align: left;
        flex-direction: row;
    }
    #Skills img {
        width: 350px;
        margin-right: 125px;
        padding-top: 86px;
    }
    table {
        padding-top: 86px;
    }
    .profile {
        padding-bottom: 65px;
    }
    .groupGraph, .groupTools {
        padding-bottom: 20px;
    }
    #Portfolio {
        text-align: left;
    }
    #Portfolio h2 {
        padding-bottom: 86px;
    }
    #research {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
    }
    #UX-research {
        display: flex;
    }
    #aboutPictures p {
        font-size: 18px;
        line-height: 30px;
        text-align: justify;
        padding-right: 125px;
    }
    .PhotoPortfolio {
        padding-top: 0;
    }
    .LeftSidePicture img:first-of-type {
        width: 350px;
        height: 144px;
    }
    .LeftSidePicture img:last-child {
        width: 349px;
        height: 233px;
    }
    .RightSidePicture img:first-of-type {
        width: 255px;
        height: 233px;
    }
    .RightSidePicture img:last-child {
        width: 255px;
        height: 144px;
    }
    .RightSidePicture {
        padding-left: 30px;
    }
    #GetTouch {
        text-align: left;
    }
}